@media (min-width: 0px) {
    .searchInput {
        width: calc(100vw - 1rem);
    }
}

@media (min-width: 200px) {
    .searchInput {
        width: 90vw;
    }
}

.searchInput{
    margin: 2rem auto 2rem auto!important;
    max-width: 30rem;
}