.episodeCardMainDiv{
    font-size: 1.5rem;
    margin-left: auto!important;
    margin-right: auto!important;
    border: 1px solid gray;
    border-radius: 0.5rem;
    margin: 0.5rem;
    cursor: pointer;
}

@media (min-width: 0px) {
    .episodeCardMainDiv {
        width: calc(100vw - 1rem);
    }
}

@media (min-width: 200px) {
    .episodeCardMainDiv {
        width: 90vw;
    }
}

.episodeName{
    border-bottom: 1px solid gray;
}

.boldText{
    font-weight: bold;
}