.paginationDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1rem
}

.paginationShowing{
    display: flex;
    flex-direction: row;
    justify-content: center;
}